#contact .fw-bold {
    color:#0b5ed7;
    padding-top: 2em;
}

#contact .form-control {
  border-radius: 8px;
  font-size: 1rem;
}

#contact .btn-primary {
  padding: 12px 18px;
  font-weight: 600;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

#contact .btn-primary:hover {
  background-color: #0b5ed7;
}